[Unit] 
Description=start and stop the minecraft-server 


[Service]
WorkingDirectory=/home/ubuntu
User=ubuntu
Group=ubuntu
Restart=on-failure
RestartSec=20 5
ExecStart=/home/ubuntu/start_server.sh


[Install]
WantedBy=multi-user.target